body {
    background-color: #000000;
    background-image: url(mivabecom.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    scrollbar-face-color: #181818;
    scrollbar-highlight-color: #313328;
    scrollbar-shadow-color: #313328;
    scrollbar-3dlight-color: #76766C;.
    scrollbar-arrow-color: #FFFFFF;.
    scrollbar-track-color: #181818;.
    scrollbar-darkshadow-color: #313328;
}

van1 { 
    color: #FFFFFF; font-size: 10px;
    background-color: #1A1A1A; 
    border: 2px solid #313131; 
    border-width: 1px 1px 1px 1px;

}

font,th,td,p { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a:link,a:active,a:visited,b { 
    color : #D3D4AA; 
    text-decoration:none;
}

a:hover	{ 
    color : #FFFFFF; 
    text-decoration:none;
}

hr { 
    height: 1px; 
    border: solid #313131 0px; 
    border-top-width: 1px;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.bodyline { 
    background-color: #1A1A1A; 
}

.forumline { 
    background-color: #000000; 
    border: 2px #313131 solid; 
}

td.row1	{ 
    background-color: #1A1A1A; 
    border: 2px solid #313131; 
    border-width: 1px 1px 1px 1px;
}

td.row2	{ 
    background-color: #262623; 
    border: 2px solid #313131; 
    border-width: 1px 1px 1px 1px;
}

td.row3	{ 
    background-color: #1A1A1A; 
    border: 2px solid #313131; 
    border-width: 1px 1px 1px 1px;
}

td.rowpic {
    background-color: #1A1A1A;
    /* background-image: url(images/cellpic2.jpg); */
    background-repeat: repeat-y;
}

th {
    color: #FFFFFF; 
    font-size: 10px;
    background-color: #1A1A1A;
    text-align: left;
    /* background-image: url(images/cellpic3.gif); */
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
    /* background-image: url(images/cellpic1.gif); */
    background-color: #1A1A1A; 
    border: #000000; 
    border-style: solid;
}

td.cat,td.catHead,td.catBottom {
    border-width: 0px 0px 0px 0px;
}

th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
    border: #000000; 
    border-style: solid;
}

td.row3Right,td.spaceRow {
    background-color: #1A1A1A; 
    border: 2px solid #313131; 
    border-width: 1px 1px 1px 1px;
}

th.thHead,td.catHead { 
    font-size: 10px; 
    border-width: 0px 0px 0px 0px; 
}

th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 0px; }
th.thBottom,td.catBottom  { border-width: 0px 0px 0px 0px; }
th.thTop	 { border-width: 0px 0px 0px 0px; }
th.thCornerL { border-width: 0px 0px 0px 0px; }
th.thCornerR { border-width: 0px 0px 0px 0px; }


.maintitle,h1,h2 {
    font-size: 10px; 
    font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none; 
    line-height : 120%; 
    color : #FFFFFF;
}


.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #FFFFFF; }
a.gen,a.genmed,a.gensmall { color: #D3D4AA; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #D3D4AA;  }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #FFFFFF }
a.mainmenu		{ text-decoration: none; color : #D3D4AA;  }
a.mainmenu:hover{  color : #FFFFFF; }


/* Forum category titles */
.cattitle		{ font-size: 12px ; letter-spacing: 1px; color : #D3D4AA}
a.cattitle		{ text-decoration: none; color : #D3D4AA; }
a.cattitle:hover{  }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-size: 12px; color : #D3D4AA; }
a.forumlink 	{ text-decoration: none; color : #D3D4AA; }
a.forumlink:hover{  color : #FFFFFF; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-size: 11px; color : #D3D4AA;}
a.nav			{ text-decoration: none; color : #D3D4AA; }
a.nav:hover		{  }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-size: 11px; color : #FFFFFF; }
a.topictitle:link   { text-decoration: none; color : #D3D4AA; }
a.topictitle:visited { text-decoration: none; color : #D3D4AA; }
a.topictitle:hover	{  color : #FFFFFF; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #FFFFFF;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #FFFFFF; }
.bluepearl		{ font-size : 10px; color : #FFFFFF; border: 1px solid #000000; background-color: #1A1A1A; margin-bottom: 3px; width="100%"}


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #D3D4AA }
a.postlink:visited { text-decoration: none; color : #D3D4AA; }
a.postlink:hover {  color : #FFFFFF}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #FFFFFF;
	background-color: #52513F; border: #000000; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; line-height: 125%;
	background-color: #52513F; border: #000000; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #FFFFFF; }


/* Form elements */
input,textarea, select {
background-color: #1A1A1A;
	color : #FFFFFF;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
background-color: #1A1A1A;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
background-color: #1A1A1A;
	color : #FFFFFF;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
border: #313131; border-style: solid; border-width: 1px 1px 1px 1px;
background-color: #1A1A1A;
}

/* None-bold submit button */
input.liteoption {
border: #313131; border-style: solid; border-width: 1px 1px 1px 1px;
background-color: #1A1A1A;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #1A1A1A; border-style: none; }
